// Color Variables
$color-aqua-100: #1abc9c;
$color-aqua-200: #16a085;

$color-green-100: #2ecc71;
$color-green-200: #27ae60;

$color-blue-100: #3498db;
$color-blue-200: #2980b9;

$color-orange-100: #e67e22;
$color-orange-200: #d35400;

$color-purple-100: #9b59b6;
$color-purple-200: #8e44ad;

$color-red-100: #e74c3c;
$color-red-200: #c0392b;

$color-gray-100: #ecf0f1;
$color-gray-200: #bdc3c7;
$color-gray-300: #95a5a6;
$color-gray-400: #7f8c8d;
$color-gray-500: #34495e;
$color-gray-600: #2c3e50;

// Font Variables
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$font-body: 'Open Sans', sans-serif;
